In [1]:
import pandas as pd
import re

# Task 1  
## "What is the most frequent value of the `Parent` attribute?"

In [2]:
# Reading the Data File
df = pd.read_csv('D:/курс_архив/my_files/lesson_6/gff.tsv', sep="\t")
df

,seq_id,source,type,start,end,score,strand,phase,attributes
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1
...,...,...,...,...,...,...,...,...,...
507,chr17,RefSeq,exon,6812219,6818159,.,+,.,Parent=XM_001475631.1
508,chr17,RefSeq,protein,6806527,6812289,.,+,.,ID=;Parent=XM_001475631.1
509,chr17,RefSeq,CDS,6806527,6806553,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
510,chr17,RefSeq,exon,6811792,6811869,.,+,.,Parent=XM_001475631.1
511,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1

In [3]:
# Extracting the `attributes` Column
attributes_column = df.attributes

In [4]:
# Converting to DataFrame for Inspection
pd.DataFrame(attributes_column)

                                            attributes
0                                Parent=XM_001475631.1
1    Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
2    Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
3                                Parent=XM_001475631.1
4                                Parent=XM_001475631.1
..                                                 ...
507                              Parent=XM_001475631.1
508                          ID=;Parent=XM_001475631.1
509  Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
510                              Parent=XM_001475631.1
511                              Parent=XM_001475631.1

[512 rows x 1 columns]

In [5]:
# Regular Expression for Extracting Values After "Parent="
# \w+ — Matches a sequence of alphanumeric characters (identifier)
find_words_after_parent = re.compile(r'Parent=(\w+)')
find_words_after_parent

re.compile(r'Parent=(\w+)', re.UNICODE)

In [6]:
# Applying the Regular Expression to All Rows in the 'attributes' Column Using `apply()`
# `findall()` returns a list of all matches; we take the first match [0] if it exists, otherwise None
df['Parent'] = df['attributes'].apply(lambda x: find_words_after_parent.findall(x)[0] if find_words_after_parent.findall(x) else None)
print(df[['attributes', 'Parent']]) # Displaying the DataFrame with Two Columns: 'attributes' and 'Parent' for Verification

                                            attributes        Parent
0                                Parent=XM_001475631.1  XM_001475631
1    Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...  XM_001475631
2    Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...  XM_001475631
3                                Parent=XM_001475631.1  XM_001475631
4                                Parent=XM_001475631.1  XM_001475631
..                                                 ...           ...
507                              Parent=XM_001475631.1  XM_001475631
508                          ID=;Parent=XM_001475631.1  XM_001475631
509  Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...  XM_001475631
510                              Parent=XM_001475631.1  XM_001475631
511                              Parent=XM_001475631.1  XM_001475631

[512 rows x 2 columns]

In [7]:
# Using `value_counts()` to Count the Frequency of Each Value in the 'Parent' Column
# `idxmax()` Returns the Most Frequent Value
most_frequent_parent = df['Parent'].value_counts().idxmax()
# Output the Most Frequent Value
print(f"The Most Frequent Value of the 'Parent' Attribute: {most_frequent_parent}")

The Most Frequent Value of the 'Parent' Attribute: XM_001475631

# Answer: The Most Frequent Value of the 'Parent' Attribute: XM_001475631

# Task 2
## "What is the most frequent value in the `type` column?"

In [8]:
df.groupby('type').count().sort_values('seq_id', ascending=False)

,seq_id,source,start,end,score,strand,phase,attributes,Parent
type,,,,,,,,,
exon,201,201,201,201,201,201,201,201,201
CDS,170,170,170,170,170,170,170,170,170
five_prime_UTR,47,47,47,47,47,47,47,47,47
mRNA,33,33,33,33,33,33,33,33,33
three_prime_UTR,32,32,32,32,32,32,32,32,32
protein,29,29,29,29,29,29,29,29,29

# Answear: Exon